body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ffc901;
  color: #d34c01;
}
button {
  margin-left: 50px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  border: none;
  border-radius: 7px;
  background-color: #d34c01;
  color: #fef3df;
  font-size: 18px;
  cursor: pointer;
}

h1 {
  margin-left: 80px
}

#info {
  margin-left: 50px;
  margin-top: 40px;
}

#currentTime {
  font-family: monospace;
  font-size: 20px;
  color: #d34c01;
  position:absolute;
  left: 0px;
  top: 0px;
  padding: 10px;
  margin-left: 50px;
}

#currentExcel {
  font-size: 20px;
  color: #d34c01;
  margin-left: 50px;
  margin-top: 30px;
}
#txtStatus {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #d34c01;
  margin-left: 50px;
  margin-top: 10px;
  width: 80%;
  padding: 15px;
  white-space: pre-line;
  border-width: 1px;
  border-radius: 5px;
  border-color: #d34c01;
  border-style: solid;
  max-height: 400px;
  overflow-y: auto;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #d34c01; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d34c01; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d34c01; 
}

#all-page-block{
  position: absolute;
  left: 0px;
  top: 20px;
  padding: 10px;
  width: 100%;
}

.row {
  display: flex;
}

.column {
  padding: 10px;
}

#column1 {
  flex: 10%
}
#column2 {
  flex: 10%
}
#column3 {
  flex: 80%
}
#schedule {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #d34c01;
  margin-left: 50px;
  margin-top: 10px;
  width: 80%;
  padding: 1px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #d34c01;
  border-style: solid;
  max-height: 300px;
  overflow-y: auto;
  display: none;
}
#mainStatus {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #d34c01;
  margin-left: 50px;
  margin-top: 10px;
  width: 80%;
  padding: 10px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #d34c01;
  border-style: solid;
  max-height: 300px;
  overflow-y: auto;
}
#theButtons {
  display: none;
}
#btnToggleSchedule, #btnToggleButtons {
  background: none!important;
  border: none;
  padding: 0!important;
  font-size: 11px;
  color: #d34c01;
  text-decoration: underline;
  cursor: pointer;
}
